<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccessManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccessManager.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="mainMenu"
                               role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                Меню
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="mainMenu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Начало</a></li>
                                <li><a class="dropdown-item" asp-controller="User" asp-action="UserList">Потребители</a></li>
                                <li><a class="dropdown-item" asp-controller="Access" asp-action="AccessList">Достъпи</a></li>
                                <li><a class="dropdown-item" asp-controller="Access" asp-action="UserAccessList">Потребители и достъпи</a></li>
                                <li><a class="dropdown-item" asp-controller="Directive" asp-action="DirectiveList">Заповеди</a></li>
                                <li><a class="dropdown-item" asp-controller="Department" asp-action="UnitDepartmentList">Дирекции</a></li>
                                <li><a class="dropdown-item" asp-controller="Position" asp-action="PositionList">Служби</a></li>
                                <li><a class="dropdown-item" asp-controller="Log" asp-action="LogList">Справка</a></li>
                                <li><a class="dropdown-item" asp-controller="Upload" asp-action="Upload">Файлове и данни</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="d-flex align-items-center">
                    @{
                        var username = ViewData["Username"] as string;
                    }
                    @if (!string.IsNullOrEmpty(username))
                    {
                        <a class="btn btn-link text-decoration-none text-black" asp-controller="User" asp-action="MyProfile">Моят профил</a>
                        <a class="btn btn-link text-decoration-none text-black" asp-controller="Home" asp-action="Logout">Изход</a>
                    }
                    else
                    {
                        <a class="btn btn-link text-decoration-none" asp-controller="Home" asp-action="Login">Вход</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AccessManager - <a asp-controller="Home" asp-action="Privacy">Управление на данни</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
