<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccessManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccessManager.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <div class="d-flex align-items-center">
                        <a class="navbar-brand me-4" asp-controller="Home" asp-action="Index" title="Начало">
                            <img src="~/images/home.png" alt="Home" class="img-fluid" style="max-height: 30px;"  />
                        </a>
                        <a class="navbar-brand me-4" asp-controller="User" asp-action="UserList" title="Потребители">
                            <img src="~/images/users.png" alt="Users" class="img-fluid" style="max-height: 30px;"  />
                        </a>
                        <a class="navbar-brand me-4" asp-controller="Access" asp-action="AccessList" title="Достъпи">
                            <img src="~/images/systems.png" alt="Systems" class="img-fluid" style="max-height: 30px;"/>
                        </a>
                        <a class="navbar-brand me-4" asp-controller="Access" asp-action="AccessUsersList" title="Потребители и достъпи">
                            <img src="~/images/user_access.png" alt="AccessUsers" class="img-fluid" style="max-height: 30px;" />
                        </a>
                        <a class="navbar-brand me-4" asp-controller="Directive" asp-action="DirectiveList" title="Заповеди">
                            <img src="~/images/directive.png" alt="Log" class="img-fluid" style="max-height: 30px;"  />
                        </a>
                        <a class="navbar-brand me-4" asp-controller="UnitDepartment" asp-action="UnitDepartmentList" title="Дирекции">
                            <img src="~/images/unit.png" alt="Log" class="img-fluid" style="max-height: 30px;"/>
                        </a>
                        <a class="navbar-brand me-4" asp-controller="Log" asp-action="LogList" title="Справка">
                            <img src="~/images/log.png" alt="Log" class="img-fluid" style="max-height: 30px;"/>
                        </a>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    @{
                        var username = ViewData["Username"] as string;
                    }
                    @if (!string.IsNullOrEmpty(username))
                    {
                        <a class="btn btn-link text-decoration-none text-black" asp-controller="User" asp-action="MyProfile">Моят профил</a>
                        <a class="btn btn-link text-decoration-none text-black" asp-controller="Home" asp-action="Logout">Изход</a>
                    }
                    else
                    {
                        <a class="btn btn-link text-decoration-none" asp-controller="Home" asp-action="Login">Вход</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AccessManager - <a asp-controller="Home" asp-action="Privacy">Управление на данни</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
