@model AccessManager.ViewModels.Unit.CreateUnitViewModel

@{
    ViewData["Title"] = "Създаване на отдел";
}

<h2>Създаване на отдел</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form asp-action="CreateUnit" asp-controller="Unit" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="DepartmentId" class="form-label">Дирекция</label>
    </div>

    <div class="mb-3">
        <label asp-for="UnitName" class="form-label">Име на отдел</label>
        <input asp-for="UnitName" class="form-control" placeholder="Въведете име" required />
        <span asp-validation-for="UnitName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Създай</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
